<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增 redis 配置参数</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {% include 'baseHeader.html' %}
    <style type="text/css">
    .tpl-content-wrapper{
            padding-left: 0px;
            padding-left: 50px;
            padding-right: 50px;
    }
    </style>
</head>

<body data-type="generalComponents">



 <div class="tpl-content-wrapper">

            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        新增 redis 配置参数
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form id="appForm" class="am-form tpl-form-line-form">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">名称 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input value="{{ dataDictionary.key }}" name= "key" type="text" class="tpl-form-input" id="user-name" placeholder="请输入名称">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">值 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input name= "value" value="{{ dataDictionary.value }}" type="text" class="tpl-form-input" id="user-name" placeholder="请输入值">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">描述备注</label>
                                    <div class="am-u-sm-9">
                                        <textarea name="remark"  class="" rows="10" id="user-intro" placeholder="请输入描述备注">{{ dataDictionary.remark }}</textarea>
                                    </div>
                                </div>
                                <input type="hidden" name="type" value="8" >
                                <input type="hidden" name="type_desc" value="config set">
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " {% comment %}disabled="true"{% endcomment %} id="submitBtn">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>


        </div>


    </div>


    {% include 'baseFooter.html' %}
    <script type="text/javascript">
    $('#submitBtn').on('click' , function(){
        var appForm = formSerializeArrayToJsonByItem($('#appForm'));
        $.post("{{ contextPath }}/dataDictionary/saveDataDictionary.do", appForm ,
          function(data){
            alert(JSON.stringify(data)); // John
          }, "json");
    });

    </script>
</body>

</html>